[submodule "clj-utils"]
	path = clj-utils
	url = https://github.com/cider-ci/cider-ci_clj-utils.git
[submodule "resources/hal-browser"]
	path = resources/hal-browser
	url = https://github.com/cider-ci/hal-browser.git
[submodule "api-browser"]
	path = resources/api-browser
	url = https://github.com/cider-ci/api-browser.git
