*.class
*.jar
*.log
/.lein-*
/.nrepl-port
/.sass-cache
/checkouts
/classes
/config
/log
/target
/tmp
conf.yml
pom.xml
pom.xml.asc
resources/public/
resources/public/css/site.min.css
src/cider_ci/self.clj
