[submodule "clj-utils"]
	path = clj-utils
	url = https://github.com/cider-ci/cider-ci_clj-utils.git
[submodule "database"]
	path = database
	url = https://github.com/cider-ci/cider-ci_database.git
[submodule "json-roa_browser"]
	path = resources/api-browser
	url = https://github.com/json-roa/json-roa_browser_build.git
