/*
Error: Invalid CSS after "...lor}: #{$value}": expected "{", was ";"
        on line 4 of vendor/bootstrap/scss/_root.scss
        from line 11 of vendor/bootstrap/scss/bootstrap.scss
        from line 9 of /Users/thomas/Programming/CIDER-CI/cider-ci_v5/server/resources/all/public/css/site.sass

1: :root {
2:   // Custom variable values only support SassScript inside `#{}`.
3:   @each $color, $value in $colors {
4:     --#{$color}: #{$value};
5:   }
6: 
7:   @each $color, $value in $theme-colors {
8:     --#{$color}: #{$value};
9:   }

Backtrace:
vendor/bootstrap/scss/_root.scss:4
vendor/bootstrap/scss/bootstrap.scss:11
/Users/thomas/Programming/CIDER-CI/cider-ci_v5/server/resources/all/public/css/site.sass:9
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:1207:in `expected'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:1137:in `expected'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:665:in `block'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:685:in `block_child'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:666:in `block'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:307:in `each_directive'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:222:in `special_directive'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:197:in `directive'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:685:in `block_child'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:666:in `block'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:684:in `block_child'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:41:in `parse'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/engine.rb:409:in `_to_tree'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/engine.rb:315:in `to_tree'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin.rb:109:in `method_missing'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/Users/thomas/.rubies/ruby-2.6.0/lib/ruby/gems/2.6.0/gems/sass-3.4.25/bin/sass:13:in `<top (required)>'
/Users/thomas/.rubies/ruby-2.6.0/bin/sass:23:in `load'
/Users/thomas/.rubies/ruby-2.6.0/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...lor}: #{$value}\": expected \"{\", was \";\"\A         on line 4 of vendor/bootstrap/scss/_root.scss\A         from line 11 of vendor/bootstrap/scss/bootstrap.scss\A         from line 9 of /Users/thomas/Programming/CIDER-CI/cider-ci_v5/server/resources/all/public/css/site.sass\A \A 1: :root {\A 2:   // Custom variable values only support SassScript inside `#{}`.\A 3:   @each $color, $value in $colors {\A 4:     --#{$color}: #{$value};\A 5:   }\A 6: \A 7:   @each $color, $value in $theme-colors {\A 8:     --#{$color}: #{$value};\A 9:   }"; }
