@import "../vendor/bootstrap/assets/stylesheets/bootstrap"

$state-executing-text: mix($state-danger-text,$state-success-text) !default
$state-executing-bg: mix($state-danger-bg,$state-success-bg) !default
$state-executing-border: mix($state-danger-border,$state-success-border) !default
@include table-row-variant('executing', $state-executing-bg)


.breadcrumb.with-circle-separator
  > li
    + li:before
      content: "○"

table
  tbody.table-bordered
    td
      border: 1px solid $table-border-color

table.table-project
  tbody > tr > td
    width: 20%

table.table-projects
  tbody > tr > td
    width: 16.6%
